# Data directories
/datasets/

# Model checkpoints
/models/

# Results directories
/results/

# Inference results
/inference_results_ignore/

# Any other generated output directories
/inference_results/
/logs/
/hp_search/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# OS specific files
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db